<div class="container-fluid bg-dark text-white">
    <section id="about" class="about-section py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h1 class="animate__animated animate__fadeInUp">Simone Esposito</h1>
                    <h2 class="animate__animated animate__fadeInUp">Front-End Developer</h2>
                </div>
                <div class="col-md-6">
                    <div class="profile-picture">
                        <!--                         <img src="assets\img\profilo.png" alt="Foto profilo"> -->
                    </div>
                </div>
            </div>
        </div>
    </section>



    <section id="formazione" class="education-section py-5">
        <div class="container">
            <h2 class="animate__animated animate__fadeInUp text-center mb-5">Formazione</h2>
            <div class="animate__animated animate__fadeInUp">
                <h4>2016 - 2021: Napoli</h4>
                <p>ISTITUTO TECNICO TECNOLOGICO<br>Diplomato presso Giordani-Striano con un diploma Tecnico Informatico
                </p>
            </div>
        </div>
    </section>


    <section id="esperienze" class="work-experience-section">
        <div class="container">
            <h2 class="animate__animated animate__fadeInUp text-center">Esperienze Lavorative</h2>
            <div class="animate__animated animate__fadeInUp">
                <h4>2022 - 2023: NETCOM GROUP SPA</h4>
                <p>Front-End Developer<br>Attività di sviluppo, testing interno e implementazione su commesse: Rigel,
                    Ditron, IPZS Istituto Poligrafico Zecca di Stato, Dashboard NeXtBi. Responsive design e
                    Accessibilità web WCAG 2.0 e successive con l’utilizzo di Lighthouse. Conoscenza delle best practice
                    per la scrittura di codice pulito e ben strutturato. Attività di sviluppo in peer programming.</p>
            </div>
            <div class="animate__animated animate__fadeInUp">
                <h4>2023 - 2024: 3F&Edin</h4>
                <p>Full-stack Developer<br>Attività di sviluppo, testing interno e implementazione su commesse: Rigel,
                    Ditron, IPZS Istituto Poligrafico Zecca di Stato, Dashboard NeXtBi. Responsive design e
                    Accessibilità web WCAG 2.0 e successive con l’utilizzo di Lighthouse. Conoscenza delle best practice
                    per la scrittura di codice pulito e ben strutturato. Attività di sviluppo in peer programming.</p>
            </div>
        </div>
    </section>

    <section id="extra-skills" class="extra-skills-section">
        <div class="container">
            <h2 class="animate__animated animate__fadeInUp text-center">Competenze Extra</h2>
            <div class="animate__animated animate__fadeInUp">
                <p>Pacchetto Office<br>Lingua INGLESE livello base<br>Organizzazione, Problem Solving, Team working e
                    metodologia Agile e Kanban</p>
            </div>
        </div>
    </section>

    <section id="certifications" class="certifications-section">
        <div class="container">
            <h2 class="animate__animated animate__fadeInUp text-center">Certificazioni</h2>
            <div class="animate__animated animate__fadeInUp">
                <p>Oracle Academy: Award of Course Completion: Java Fundamentals<br>Cisco Networking Academy:
                    Introduction of the Internet of Everything<br>Cisco Networking Academy: Introduction to
                    Cybersecurity</p>
            </div>
        </div>
    </section>

    <section id="skills" class="skills-section">
        <div class="container">
            <h2 class="animate__animated animate__fadeInUp text-center">Skills</h2>
            <div class="row text-center skills-icons">
                <div class="col-6 col-md-4 col-lg-2 mb-4">
                    <i class="fa-brands fa-html5 fa-3x text-white animate__animated animate__fadeInUp"></i>
                    <p class="text-white mt-2">HTML</p>
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-4">
                    <i class="fab fa-css3-alt fa-3x text-white animate__animated animate__fadeInUp"></i>
                    <p class="text-white mt-2">CSS</p>
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-4">
                    <i class="fab fa-js fa-3x text-white animate__animated animate__fadeInUp"></i>
                    <p class="text-white mt-2">JavaScript</p>
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-4">
                    <i class="fab fa-angular fa-3x text-white animate__animated animate__fadeInUp"></i>
                    <p class="text-white mt-2">Angular</p>
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-4">
                    <i class="fas fa-code fa-3x text-white animate__animated animate__fadeInUp"></i>
                    <p class="text-white mt-2">JSP</p>
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-4">
                    <i class="fas fa-database fa-3x text-white animate__animated animate__fadeInUp"></i>
                    <p class="text-white mt-2">Database</p>
                </div>
            </div>
        </div>
    </section>

    <section id="tools" class="tools-section">
        <div class="container">
            <h2 class="animate__animated animate__fadeInUp text-center">Strumenti e Tecnologie</h2>
            <div class="row text-center tools-icons">
                <div class="col-6 col-md-4 col-lg-2 mb-4">
                    <i class="fas fa-code-branch fa-3x text-white animate__animated animate__fadeInUp"></i>
                    <p class="text-white mt-2">GIT</p>
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-4">
                    <i class="fab fa-github fa-3x text-white animate__animated animate__fadeInUp"></i>
                    <p class="text-white mt-2">GitHub</p>
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-4">
                    <i class="fab fa-vmware fa-3x text-white animate__animated animate__fadeInUp"></i>
                    <p class="text-white mt-2">VM Horizon</p>
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-4">
                    <i class="fas fa-shield-alt fa-3x text-white animate__animated animate__fadeInUp"></i>
                    <p class="text-white mt-2">FortiClient VPN</p>
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-4">
                    <i class="fas fa-laptop-code fa-3x text-white animate__animated animate__fadeInUp"></i>
                    <p class="text-white mt-2">Eclipse</p>
                </div>
                <div class="col-6 col-md-4 col-lg-2 mb-4">
                    <i class="fas fa-laptop-code fa-3x text-white animate__animated animate__fadeInUp"></i>
                    <p class="text-white mt-2">IntelliJ</p>
                </div>
            </div>
        </div>
    </section>
    <section id="contatti" class="contact-section py-5">
        <div class="container">
            <h2 class="animate__animated animate__fadeInUp text-center mb-5">Contatti</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="animate__animated animate__fadeInUp mb-4">
                        <h4>Email</h4>
                        <p>
                            <i class="fas fa-envelope"></i>

                            <a href="mailto:simone.esposito433@gmail.com"> simone.esposito433@gmail.com</a>
                        </p> 
                    </div>
                    <div class="animate__animated animate__fadeInUp mb-4">
                        <h4>Telefono</h4>
                        <p>
                            <i class="fas fa-phone"></i>
                            <a href="tel:+3933886624925"> +39 338 866 24925</a>
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="animate__animated animate__fadeInUp mb-4">
                        <h4>Indirizzo</h4>
                        <p>
                            <i class="fa-solid fa-marker"></i>
                            Via Dell’ Epomeo 57, 80126 Napoli
                        </p>
                    </div>
                    <!-- <div class="animate__animated animate__fadeInUp mb-4">
                        <h4>Data di Nascita</h4>
                        <p>
                            <i class="fa fa-birthday-cake"></i>
                            Napoli, 06/06/2002
                        </p>
                    </div> -->
                </div>
            </div>
        </div>
    </section>
</div>