<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="assets/img/logo.png" alt="Simone Logo" class="img-responsive" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse align-center" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                <li class="nav-item">
                    <a class="nav-link" href="#chi-sono">Chi sono</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#formazione">Formazione</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#esperieze">Esperienze</a>
                </li>
                <li>
                    <a class="nav-link" href="#skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contatti">Contatti</a>
                </li>
            </ul>
        </div>
    </div>
</nav>